# Database configuration
DB_URL=
DB_USER=
DB_PASSWORD=
DB_NAME=

# Session and encryption secrets
SESSION_SECRET=
ENCRYPT_SECRET=

# Mailer configuration
MAILER_HOST=
MAILER_PORT=
MAILER_SSL=
MAILER_USER=
MAILER_PASSWORD=