# Database configuration
DB_URL=
DB_USER=
DB_PASSWORD=
DB_NAME=

# Session and encryption secrets
SESSION_SECRET=
ENCRYPT_SECRET=

# Mailer configuration
MAILER_HOST=
MAILER_PORT=
MAILER_SSL=
MAILER_USER=
MAILER_PASSWORD=

# Storage service configuration
MINIO_ENDPOINT_URL=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

# LLM service configuration
LITELLM_LOG=